$maincolor : #22c1ee;
$main-font:  'custom', sans-serif;
$secondcolor : #efbd70;
$zero : 0 0 0 0;
@font-face {
  font-family: custom;
  src: url(VCR_OSD_MONO_1.001.ttf);
}
@mixin relative($position: relative ,$width : 100%,$height: auto){
  position: $position;
  width: $width;
  height: $height;
}
@mixin absolute-center($height:0px,$width:0px,$top:0px,$right:0px,$bottom:0px,$left:0px){
  height: $height;
  width: $width;
  position: absolute;
  top:$top;
  right:$right;
  bottom:$bottom;
  left:$left;
  margin: auto;
}
@function px-to-em($target,$context){
  @return ($target/$context) *1em;
}
//--Webpage--
body{
  font-family: $main-font;
  margin: $zero;
  padding:$zero;
}
.container{
  width: 100%;
  height: auto;
}


// --Section 1--
#particles-js{
  @include relative();
  background-color: #000000;
  //background-image: url('');
  //background-size: cover;
  //background-position: 50% 50%;
  //background-repeat: no-repeat;
}
.banner-header{
  @include absolute-center(135px,50%);
  h1,h2{
    color: white;
    margin: $zero;
    text-align: center;
    font-size: px-to-em(50,16);
  }
  h2 span{
    color: $secondcolor;
  }
}
.scroll-arrow{
  @include absolute-center(150px,150px,65%);
  text-align: center;
  img{
    height: 150px;
    width:115px;
  }
}
//END SECTION 1
//SECTION 2
.section-2{
  @include relative();
}